################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CryptoBoard.API/obj
/CryptoBoard.API/bin/Debug/net5.0
/CryptoBoard.Application/bin/Debug/net5.0
/CryptoBoard.Application/obj/Debug/net5.0
/CryptoBoard.Application/obj/project.nuget.cache
/CryptoBoard.Application/obj/project.assets.json
/CryptoBoard.Application/obj/CryptoBoard.Application.csproj.nuget.g.targets
/CryptoBoard.Application/obj/CryptoBoard.Application.csproj.nuget.g.props
/CryptoBoard.Application/obj/CryptoBoard.Application.csproj.nuget.dgspec.json
/CryptoBoard.Domain/bin/Debug/net5.0
/CryptoBoard.Domain/obj/Debug/net5.0
/CryptoBoard.Domain/obj/project.nuget.cache
/CryptoBoard.Domain/obj/project.assets.json
/CryptoBoard.Domain/obj/CryptoBoard.Domain.csproj.nuget.g.targets
/CryptoBoard.Domain/obj/CryptoBoard.Domain.csproj.nuget.g.props
/CryptoBoard.Domain/obj/CryptoBoard.Domain.csproj.nuget.dgspec.json
/CryptoBoard.Infra.IoC/bin/Debug/net5.0
/CryptoBoard.Infra.IoC/obj/Debug/net5.0
/CryptoBoard.Infra.IoC/obj/project.nuget.cache
/CryptoBoard.Infra.IoC/obj/project.assets.json
/CryptoBoard.Infra.IoC/obj/CryptoBoard.Infra.IoC.csproj.nuget.g.targets
/CryptoBoard.Infra.IoC/obj/CryptoBoard.Infra.IoC.csproj.nuget.g.props
/CryptoBoard.Infra.IoC/obj/CryptoBoard.Infra.IoC.csproj.nuget.dgspec.json
/CryptoBoard.Repositories/bin/Debug/net5.0
/CryptoBoard.Repositories/obj/Debug/net5.0
/CryptoBoard.Repositories/obj/project.nuget.cache
/CryptoBoard.Repositories/obj/project.assets.json
/CryptoBoard.Repositories/obj/CryptoBoard.Repositories.csproj.nuget.g.targets
/CryptoBoard.Repositories/obj/CryptoBoard.Repositories.csproj.nuget.g.props
/CryptoBoard.Repositories/obj/CryptoBoard.Repositories.csproj.nuget.dgspec.json
/CryptoBoard.Repositories/obj/CryptoBoard.Infra.Data.csproj.nuget.g.targets
/CryptoBoard.Repositories/obj/CryptoBoard.Infra.Data.csproj.nuget.g.props
/CryptoBoard.Repositories/obj/CryptoBoard.Infra.Data.csproj.nuget.dgspec.json
